.createDeck {
  padding: 10px 3vw;

  .grid_deck {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5vh;
    gap: 2rem
  }

  .blanckDeck {
    height: 23rem;
    padding: 15px 3vw;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .cadre{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 8rem;
      border: dashed 4px;
      border-radius: 1rem;
    }

    .cadre:hover {
      cursor: pointer;
    }

    img {
      height: 12rem;
      opacity: 0.3;
    }

    input {
      width: 150px;
    }
  }
}
