.deck_base {
  display: flex;
  flex-direction: column;
  //background-color: red;
  padding: 15px 3vw;
  width: 10em;

  .card_deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    height: 12em;
    background-color: blue;

  }
}
