.deck_base {
  display: flex;
  flex-direction: column;
    justify-content: space-between;
  padding: 15px 3vw;
  width: 13rem;
  height: 18rem;
  //background-color: red;

  .card_deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    height: 12rem;
    //background-color: blue;

    h4 {
      z-index: 2;
    }
    .testimage2 {
      transform: rotate(-25deg) translateX(-40px) translateY(-10px);
    }
    .testimage {
      transform: rotate(25deg) translateX(40px);
    }

    img {
      height: 12rem;
      position: absolute;
    }
  }
}
