@import '../../Global.scss';

.header {
  background-color: $colorBlack;
  height: $heightHeader;
  display: flex;
  flex-direction: column;

  .align-text {
    display: flex;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      height: 90%;

      button {
        height: 100%;
        width: 10vw;
        background-color: black;
        border: none;
        border-radius: 20px;
        color: white;
        font-size: large;
        font-weight: 600;
        cursor: pointer;
      }
      button:hover {
        background: rgba(210, 207, 207, 0.226);
      }
    }
  }
}
