@import '../../Global.scss';

.header {
  background-color: $colorBlack;
  height: $heightHeader;
  display: flex;
  flex-direction: column;

  .align-text {
    display: flex;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .global-class-logout {
      background-color: white;
      padding: 20px;
    }
    .test {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    a {
      flex-grow: 1;
      height: 100%;

      button {
        height: 100%;
        width: 100%;
        background-color: black;
        border: none;
        color: white;
        font-size: large;
        font-weight: 600;
        cursor: pointer;
      }
      button:hover {
        background: rgba(210, 207, 207, 0.226);
      }
    }

  }
}
