.cards_list_log {
  padding: 0 5vw;
  h3 {
    margin: 0;
  }

  .grid_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: aqua;
    .test {
      padding: 10px 3vw;
      width: 40vw;
    }
    img {
      width: 90%;
      height: auto;
    }
  }
}
