$colorGreen: #226d68;
$colorYellow: #feeaa1;
$colorOrange: #d6955b;
$colorBlack: #111111;
$colorPlaceholder: black;
$colorBackgroundButton: black;

$heightHeader: 10vh;
$heightComponent: 90vh;

%blocButton {
  width: 200px;
  height: 35px;
  font-weight: 500;
  font-size: medium;
  border-radius: 20px;
  border: solid 2px black;
}
